body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  mix-blend-mode: multiply;
}

img {
  width: 500px;
  height: 300px;
  object-fit: cover;
  border: 2px solid #ccc;
  border-radius: 10px;
}
